.icons {
  width: 100%;
  height: 100vh;
  background-color: var(--color-bg-bold);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 20px;
  position: relative;
}

.icons::before {
  content: "";
  top: 0;
  left: 0;
  background-color: red;
  width: 300%;
  position: absolute;
  height: 100%;
  z-index: 1;
}
.icons-menu {
  position: static;
  z-index: 5;
}

.icons-menu,
.icons-chat,
.icons-group,
.icons-shaxsiy,
.icons-channel,
.icons-oqilmagan,
.icons-edit {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  /* align-items: center */
  justify-content: center;
}

.icons-menu,
.icons-chat,
.icons-group,
.icons-shaxsiy,
.icons-channel,
.icons-oqilmagan,
.icons-edit p {
  font-size: 12px;
  margin: 2px;
}
